@page
@model WebApp.Pages.UsersModel


<h2>Users:</h2>

<dl>
    @foreach(var u in Model.Users)
    {
        <h3>User: @u.Username</h3>

        <dt>First name</dt>
        <dd>@u.FirstName</dd>

        <dt>Last name</dt>
        <dd>@u.LastName</dd>

        <dt>Email</dt>
        <dd>@u.Email</dd>
    }
</dl>